name: Thread Clone CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Setup Node.js
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20


      # ---------------- BACKEND CI ----------------
      - name: Install Backend Dependencies
        working-directory: Backend
        run: npm install

      - name: Backend Check
        working-directory: Backend
        run: |
          echo "Backend checks passed"

      # ---------------- FRONTEND CI ----------------
      - name: Install Frontend Dependencies
        working-directory: Frontend
        run: npm install

      - name: Build Frontend
        working-directory: Frontend
        run: npm run build

      # ---------------- DEPLOY BACKEND ----------------
      - name: Deploy Backend to Render
        if: github.ref == 'refs/heads/main'
        run: |
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}
